@inherits EZRAppLayoutComponentBase
@inject IJSRuntime JS

<main class="d-flex">
   <header class="sidebar-off navbar sticky-top flex-md-nowrap p-0 shadow" style="">
      <ul class="navbar-nav flex-row d-md-none w-100">
         <li class="d-flex align-items-center">
            <img src=" _content/SharedUI/img/assests/adani-white-logo.svg" class="w-25" alt="Adani Logo" />
         </li>
         <li class="nav-item d-flex align-items-center">
            <button class="nav-link px-3" type="button" @onclick="@(()=>{sidebarmenu.Show();})">
            <i class="fa-solid fa-bars"></i>
            </button>
         </li>
      </ul>
   </header>
   <SidebarMenu @ref="sidebarmenu"/>
   <div class="main">
      @Body
   </div>
</main>


@code {
    private BSOffCanvas? _offCanvas;

    public SidebarMenu sidebarmenu;

    private async Task OpenCanvas()
    {
        if (_offCanvas != null)
            await _offCanvas.ToggleAsync();
    }
}


