@inherits EZRAppLayoutComponentBase
@inject IJSRuntime JS

<header class="sidebar-off sticky-top flex-md-nowrap p-0 shadow">
    <ul class="navbar-nav flex-row d-md-none">
        <li class="d-flex align-items-center ps-4">
            <img src=" _content/SharedUI/img/assests/adani-white-logo.svg" class="w-25" alt="Adani Logo" />
        </li>
        <li class="nav-item d-flex justify-content-end">
            <button class="nav-link mt-3 px-3" type="button" @onclick="OpenCanvas">
                <i class="fa-solid fa-bars"></i>
            </button>
        </li>
    </ul>
</header>


<div class="d-flex">
    <BSOffCanvas @ref="_offCanvas" class="sidebar" Placement="Placement.Left">
        <Header>
            <div class="text-center">
                <img src=" _content/SharedUI/img/assests/adani-white-logo.svg" class="w-50" alt="Adani Logo" />
                <p class="portal-text mt-3 mb-0">Safety Reporting App</p>
            </div>
        </Header>
        <Content>
            <SidebarMenu />
        </Content>
    </BSOffCanvas>
    <main>
        @Body
    </main>
</div>


@code {
    private BSOffCanvas? _offCanvas;
    private async Task OpenCanvas()
    {
        if (_offCanvas != null)
            await _offCanvas.ToggleAsync();
    }
}