@inherits EZRAppLayoutComponentBase
@inject IJSRuntime JS

<main class="main-screen">

    <nav class="navbar navbar-dark bg-dark sidebar-off">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src=" _content/SharedUI/img/assests/adani-white-logo.svg" class="w-25" alt="Adani Logo" />
            </a>
            <button class="navbar-toggler" type="button"  @onclick="OpenCanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>


    <BSOffCanvas @ref="_offCanvas" class="sidebar-menu" Placement="Placement.Left">
        <Header>
            <div class="text-center">
                <img src=" _content/SharedUI/img/assests/adani-white-logo.svg" class="w-50" alt="Adani Logo" />
                <p class="portal-text mt-3 mb-0">Safety Reporting App</p>
            </div>
        </Header>
        <Content>
            <SidebarMenu />
        </Content>
    </BSOffCanvas>


    <div class="body-cont">
        @Body
    </div>

</main>



@code {
    private BSOffCanvas? _offCanvas;
    private async Task OpenCanvas()
    {
        if (_offCanvas != null)
            await _offCanvas.ToggleAsync();
    }
}