@inject IJSRuntime JS


<BSContainer Container="Container.Fluid" class="sidebar">




    <Content class="rz-mx-auto">
        <Header class="rz-mx-auto w-100 rz-py-5">
            <div class="text-center">
                <img src=" _content/SharedUI/img/assests/Adani_Logo.svg" class="" alt="Adani Logo" />
                <p class="portal-text mt-3">Safety Reporting App</p>
                <hr>
            </div>

        </Header>
        <!-- Nav bar Card -->
        <BSCard CardType="CardType.Text" class="nav-card rz-p-5 mb-4">
            <img src="_content/SharedUI/img/assests/user-avatar.svg" style="width:40px" />
            <div class="nav-card-text rz-my-3">User : 4_Level<br>
                Mobile No : 907481524<br>
                Email : 4_level@eslabs.in<br>
                Level : 4</div>
        </BSCard>
        <hr>
        <BSNav Class="flex-grow-1">

            <BSNavItem Url="dashboard">
                <img src="_content/SharedUI/img/assests/Dashboard_Vector.svg" />
                Dashboard
            </BSNavItem>

            <BSNavItem Url="useractivitydashboard">
                <img src="_content/SharedUI/img/assests/Dashboard_Vector.svg" />
                User Activity Dashboard
            </BSNavItem>

            <BSNavItem Url="safetyreportgrid">
                <img src="_content/SharedUI/img/assests/All_Safety_Reports_Vector.svg" />
                All Safety Reports
            </BSNavItem>

            <BSNavItem Url="myincidentgrid">
                <img src="_content/SharedUI/img/assests/My_Incident_Vector.svg" />
                My Incidents
            </BSNavItem>

            <BSNavItem Url="usergrid">
                <img src="_content/SharedUI/img/assests/List_Vector.svg" />
                User List
            </BSNavItem>

            <BSNavItem Url="deptgrid">
                <img src="_content/SharedUI/img/assests/List_Vector.svg" />
                Department List
            </BSNavItem>

            <BSNavItem Url="servicepgrid">
                <img src="_content/SharedUI/img/assests/List_Vector.svg" />
                Service Provider List
            </BSNavItem>

            <BSNavItem Url="walktypegrid">
                <img src="_content/SharedUI/img/assests/List_Vector.svg" />
                Walk Type List
            </BSNavItem>

            <BSNavItem Url="firmgrid">
                <img src="_content/SharedUI/img/assests/List_Vector.svg" />
                Firm List
            </BSNavItem>

        </BSNav>


    </Content>

    <BSButton Color="BSColor.Primary" IsOutlined="true"
        class="w-100 btn btn-light d-flex align-items-center justify-content-center rounded-pill"> <img
            src="_content/SharedUI/img/charm_sign-out.svg" alt="" class="me-2">Sign Out</BSButton>

</BSContainer>


@code {
    private BSOffCanvas? _offCanvasRef;

    private async Task Show()
    {
        if (_offCanvasRef != null) await _offCanvasRef.ToggleAsync();
    }

}
