@inject IJSRuntime JS

<BSNavbar Color="BSColor.Dark" Expand="Size.None" class="sidebar d-flex align-items-start">
    <BSContainer Container="Container.Fluid">


        <Header class="rz-mx-auto w-100 rz-py-5">
            <div class="text-center">
                <img src=" _content/SharedUI/img/assests/Adani_Logo.svg" class="" alt="Adani Logo" />
                <p class="portal-text mt-3">Safety Reporting App</p>
                <hr>
            </div>

        </Header>

        <Content class="rz-mx-auto">
            <!-- Nav bar Card -->
            <BSCard CardType="CardType.Text" class="nav-card rz-p-5 mb-4">
                <img src="_content/SharedUI/img/assests/user-avatar.svg" style="width:40px" />
                <div class="nav-card-text rz-my-3">User : 4_Level<br>
                    Mobile No : 907481524<br>
                    Email : 4_level@eslabs.in<br>
                    Level : 4</div>
            </BSCard>
            <hr>
            <BSNav Class="flex-grow-1" PaddingEnd="Padding.Medium">

                <BSNavItem Url="dashboard">
                    <div class="nav-item" href="">
                        <img src="_content/SharedUI/img/assests/Dashboard_Vector.svg" class="rz-p-3" />
                        Dashboard
                    </div>
                </BSNavItem>
                <BSNavItem Url="dashboard">
                    <div class="nav-item" href="">
                        <img src="_content/SharedUI/img/assests/Dashboard_Vector.svg" class="rz-p-3" />
                        User Activity Dashboard
                    </div>
                </BSNavItem>
                <BSNavItem Url="safetyreportgrid">
                    <div class="nav-item" href="">
                        <img src="_content/SharedUI/img/assests/All_Safety_Reports_Vector.svg" class="rz-p-3" />
                        All Safety Reports
                    </div>
                </BSNavItem>
                <BSNavItem Url="myincidentgrid">
                    <div class="nav-item" href="">
                        <img src="_content/SharedUI/img/assests/My_Incident_Vector.svg" class="rz-p-3" />
                        My Incidents
                    </div>
                </BSNavItem>
                <BSNavItem Url="usergrid">
                    <div class="nav-item">
                        <img src="_content/SharedUI/img/assests/List_Vector.svg" class="rz-p-3" />
                        User List
                    </div>
                </BSNavItem>
                <BSNavItem Url="deptgrid">
                    <div class="nav-item">
                        <img src="_content/SharedUI/img/assests/List_Vector.svg" class="rz-p-3" />
                        Department List
                    </div>
                </BSNavItem>
                <BSNavItem Url="servicepgrid">
                    <div class="nav-item">
                        <img src="_content/SharedUI/img/assests/List_Vector.svg" class="rz-p-3" />
                        Service Provider List
                    </div>
                </BSNavItem>
                <BSNavItem Url="walktypegrid">
                    <div class="nav-item">
                        <img src="_content/SharedUI/img/assests/List_Vector.svg" class="rz-p-3" />
                        Walk Type List
                    </div>
                </BSNavItem>
                <BSNavItem Url="firmgrid">
                    <div class="nav-item">
                        <img src="_content/SharedUI/img/assests/List_Vector.svg" class="rz-p-3" />
                        Firm List
                    </div>
                </BSNavItem>


            </BSNav>
            <BSButton Color="BSColor.Primary" IsOutlined="true" class="w-100 btn btn-light d-flex align-items-center justify-content-center rounded-pill"> <img src="_content/SharedUI/img/charm_sign-out.svg" alt="" class="me-2">Sign Out</BSButton>

        </Content>

    </BSContainer>
</BSNavbar>

@code {
    private BSOffCanvas? _offCanvasRef;

    private async Task Show()
    {
        if (_offCanvasRef != null) await _offCanvasRef.ToggleAsync();
    }

}
