@page "/create_wkt"

<PageTitle>Create Walk Type</PageTitle>

<p class="title">Walk Type</p>

<!--Create User Form-->
<RadzenCard>
    <div class="row d-flex align-items-center">
        <!-- Left Column - Image -->
        <div class="col-1 col-lg-6">

            <RadzenImage Path="_content/SharedUI/img/assests/create-new-accoun.svg"
                AlternateText="Create Account Image" />

        </div>

        <!-- Right Column - Form -->
        <div class="col-1 col-lg-6">
            <RadzenStack>
                <!-- Full Name -->
                <RadzenFormField Text="Walk Type Name" class="label-style">
                    <RadzenTextBox />
                </RadzenFormField>

                <!-- Is Active Checkbox -->
                <div class="rz-py-5">
                    <RadzenCheckBox TValue="bool" Value=@statusvalue Name="CheckBox1" />
                    <RadzenLabel Text="Is Active" Component="CheckBox1" />
                </div>

                <div class="row">
                    <!-- Clear Button -->
                    <RadzenButton Variant="Variant.Outlined" Text="Clear" class="clear-btn rounded-pill w-25" />

                    <!-- Create User Button -->
                    <RadzenButton Variant="Variant.Flat" Text="Create" class="submit-btn rounded-pill w-25" />
                </div>


            </RadzenStack>

        </div>
    </div>
</RadzenCard>

<a href="walktypegrid">
    <RadzenButton class="rz-border-radius-10 rz-shadow-10 rz-pt-4 --color-primary">
        <i class="fa-solid fa-arrow-left"></i>
    </RadzenButton>
</a>

@code {
    bool statusvalue;
}