@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<p class="title pt-3">Dashboard</p>

<RadzenCard class="bg-white shadow">
    <RadzenRow>
        <RadzenColumn Size="10" class="d-flex justify-content-center">
            <RadzenRadioButtonList @bind-Value=@value TValue="int?">
                <Items>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Day" Value="1" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Week" Value="2" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Month" Value="3" TValue="int?" class="rz-mx-12" />
                    </h5>
                </Items>
            </RadzenRadioButtonList>
        </RadzenColumn>

        <RadzenColumn Size="2" class="rz-px-10 border-start d-flex align-items-center">
            <i class="fa-solid fa-plus text-secondary"></i>
            <h6 class="text-secondary mb-0"> &nbsp; Custom Date</h6>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<br /><br />

<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777452.9390264275!2d68.68527999421731!3d22.394415122444837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1707301373809!5m2!1sen!2sin"
        width="100%" height="200" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="shadow rounded"></iframe>
</div>

<br /><br />

<RadzenRow>
    <RadzenColumn class="shadow rounded rz-p-10">

        <h5 class="text-dark"><strong>Types of Incidents</strong></h5>

        @* <RadzenChart SeriesClick=@OnSeriesClick>
        <RadzenPieSeries Data="@revenue" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue">
        <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </RadzenPieSeries>
        </RadzenChart> *@
    </RadzenColumn>

    <RadzenColumn Class="w-bg-card rz-p-10">
        <h5 class="text-dark"><strong>Incidents Count</strong></h5>
        <div>
            <h6 class="d-flex align-items-center">
                <div class="p-3 bg-primary text-white w-25">20</div> &nbsp;Open Incidents
            </h6>
        </div>

        <div>
            <h6 class="d-flex align-items-center">
                <div class="p-3 bg-success text-white w-25">20</div> &nbsp;Close Incidents
            </h6>
        </div>

        <div>
            <h6 class="d-flex align-items-center">
                <div class="p-3 bg-warning text-white w-25">04</div> &nbsp;In Progress Incidents
            </h6>
        </div>
    </RadzenColumn>
</RadzenRow>

@* Pie chart *@
@* <EventConsole @ref=@console /> *@


@code {
    int? value;

    @* //Pie Chart
EventConsole console;
bool showDataLabels = false;

void OnSeriesClick(SeriesClickEventArgs args)
{
console.Log(args);
}

class DataItem
{
public string Quarter { get; set; } = string.Empty;
public double Revenue { get; set; }
}

DataItem[] revenue = new DataItem[] {
new DataItem
{
Quarter = "Safe Observation",
Revenue = 30000
},
new DataItem
{
Quarter = "Q2",
Revenue = 40000
},
new DataItem
{
Quarter = "Q3",
Revenue = 50000
},
new DataItem
{
Quarter = "Q4",
Revenue = 80000
},
}; *@
}