@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<p class="title">Dashboard</p>


<RadzenCard class="bg-white shadow">
    <RadzenRow>
        <RadzenColumn Size="10" class="d-flex justify-content-center">
            <RadzenRadioButtonList @bind-Value=@value TValue="int?">
                <Items>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Day" Value="1" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Week" Value="2" TValue="int?" class="rz-mx-12" />
                    </h5>
                    <h5>
                        <RadzenRadioButtonListItem Text="Last Month" Value="3" TValue="int?" class="rz-mx-12" />
                    </h5>
                </Items>
            </RadzenRadioButtonList>
        </RadzenColumn>

        <RadzenColumn Size="2" class="rz-px-10 border-start d-flex align-items-center">
            <i class="fa-solid fa-plus text-secondary"></i>
            <h6 class="text-secondary mb-0"> &nbsp; Custom Date</h6>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<br />

<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7132718.210282214!2d-97.67489668589296!3d38.65909838280045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1707982718050!5m2!1sen!2sin"
        width="100%" height="230" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="shadow rounded"></iframe>
</div>

<br />

<RadzenRow>
    <RadzenColumn>
        <div class="border border-dark p-2 mb-0">
            <i class="fa-regular fa-circle"></i> Safe observation&nbsp;&nbsp;<img src="_content/SharedUI/img/assests/Unsafe_Act.svg">&nbsp;Unsafe Act
            &nbsp;&nbsp;<img src="_content/SharedUI/img/assests/Unsafe_Condition.svg">&nbsp;Unsafe Condition &nbsp;&nbsp;
            <img src="_content/SharedUI/img/assests/Near_Miss.svg">&nbsp;Near Miss &nbsp;&nbsp;
            <img src="_content/SharedUI/img/assests/Incidents.svg">&nbsp;Incidents &nbsp;&nbsp;
            <img src="_content/SharedUI/img/assests/Question_Clarification.svg">&nbsp;Question/Clarification &nbsp;&nbsp;
            <img src="_content/SharedUI/img/assests/Unsafe_Observation.svg">&nbsp;Unsafe Observation
        </div>

        <br />

        <div class="border border-dark p-2">
            1: Severity 1, 2: Severity 2, 3: Severity 3, 4 : Severity, 5:Severity 5,
        </div>
    </RadzenColumn>



    <RadzenColumn class="border border-dark p-2">
        <RadzenRow>
            <RadzenColumn>
                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#9C27B0;"></div>&nbsp;Non-Lost Time Fire
                </div>

                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#2196F3;"></div>&nbsp;Fall of Person
                </div>

                <div class="d-flex align-items-center">
                    <div class="rz-p-2" style="background-color:#F44336;"></div>&nbsp;Man-Made- Material Intervention
                </div>
            </RadzenColumn>

            <RadzenColumn>
                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#FF9800;"></div>&nbsp;Sudden
                </div>

                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#FFEB3B;"></div>&nbsp;Road Traffic/contractor
                </div>
            </RadzenColumn>

            <RadzenColumn>
                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#4CAF50;"></div>&nbsp;Fall of Object
                </div>

                <div class="d-flex align-items-center pb-2">
                    <div class="rz-p-2" style="background-color:#000000;"></div>&nbsp;Potential to Damageasset
                </div>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>
</RadzenRow>

<br />

<RadzenRow>
    <RadzenColumn class="shadow rounded rz-p-5">
        <h5 class="text-dark pb-4 fw-bold">Types of Incidents</h5>

        <RadzenRow class="d-flex align-items-center">
            <RadzenColumn class="w-75">
                <RadzenChart>
                    <RadzenPieSeries Data="@revenue" Title="Revenue" CategoryProperty="Quarter" ValueProperty="Revenue" Fills=@(new [] { "#00A2FD", "#005959","#02CCCC","rgba(40, 152, 0, 0.28)","#289800","rgba(0, 162, 253, 0.4)" }) >
                        <RadzenSeriesDataLabels Visible="false" />
                    </RadzenPieSeries>

                    <RadzenLegend Visible="false" />
                </RadzenChart>
            </RadzenColumn>

            <RadzenColumn class="w-25">
                <div class="px-4 h-25 d-flex justify-content-center rounded" style="background-color:#00A2FD;">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-light mb-0 fw-bold">40%
                        </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-light mb-0 fw-bold">&nbsp;Safe Observation
                        </h6>
                    </RadzenColumn>
                </div>


                <br />

                <div class="px-4 h-25 d-flex justify-content-center rounded" style="background-color:#005959;">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-light mb-0 fw-bold">45%
                        </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-light mb-0 fw-bold">&nbsp;Unsafe Condition
                        </h6>
                    </RadzenColumn>
                </div>

                <br />

                <div class="px-4 h-25 d-flex justify-content-center rounded" style="background-color:#02CCCC;">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-light mb-0 fw-bold">
                            22%
                            </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-light mb-0 ps-2 fw-bold">Clarification
                        </h6>
                    </RadzenColumn>
                </div>
            </RadzenColumn>

            <RadzenColumn class="w-25">
                <div class="px-4 h-25 d-flex justify-content-center rounded"
                    style="background-color: rgba(40, 152, 0, 0.28);">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-success mb-0 fw-bold">18%
                        </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-success mb-0 ps-2 fw-bold">&nbsp;
                            Unsafe Act
                        </h6>
                    </RadzenColumn>
                </div>

                <br />

                <div class="px-4 h-25 d-flex justify-content-center rounded" style="background-color:#289800;">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-light mb-0 fw-bold">
                            25%
                        </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-light mb-0 fw-bold">&nbsp;
                           Near Miss
                        </h6>
                    </RadzenColumn>
                </div>

                <br />

                <div class="px-4 h-25 d-flex justify-content-center rounded"
                    style="background-color:rgba(0, 162, 253, 0.4);">
                    <RadzenColumn class="d-flex align-items-center">
                        <h3 class="text-primary mb-0 fw-bold d-flex align-items-center">
                            25%
                        </h3>
                    </RadzenColumn>

                    <RadzenColumn class="d-flex align-items-center">
                        <h6 class="text-primary mb-0 d-flex fw-bold align-items-center">&nbsp;
                            Incidents
                        </h6>
                    </RadzenColumn>
                </div>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>



    <RadzenColumn Class="bg-white rounded shadow rz-p-5">
        <h5 class="text-dark pb-4"><strong>Incidents Count</strong></h5>
        <div class="bg-white shadow d-flex align-items-center">
            <h3 class="mb-0">
                <div class="px-5 py-2 bg-primary text-white d-flex justify-content-center rounded fw-bold"
                    style="background-color:#00A2FD;">20</div>
            </h3>
            <h6 class="mb-0 fw-bold">&nbsp; &nbsp; Open Incidents</h6>
        </div>

        <br /><br />

        <div class="bg-white shadow d-flex align-items-center">
            <h3 class="mb-0">
                <div class="px-5 py-2 bg-success text-white d-flex justify-content-center rounded fw-bold">20</div>
            </h3>
            <h6 class="mb-0 fw-bold">&nbsp; &nbsp; Close Incidents</h6>
        </div>

        <br /><br />

        <div class="bg-white shadow d-flex align-items-center">
            <h3 class="mb-0">
                <div class="px-5 py-2 bg-warning text-white d-flex justify-content-center rounded fw-bold">04</div>
            </h3>
            <h6 class="mb-0 fw-bold">&nbsp; &nbsp; In Progress Incidents</h6>
        </div>

    </RadzenColumn>

</RadzenRow>




@code {
    int? value;

    //pie cahrt
    class DataItem
    {
        public string Quarter { get; set; } = string.Empty;
        public double Revenue { get; set; }
    }
    DataItem[] revenue = new DataItem[] {

new DataItem

{

Quarter = "Q1",

Revenue = 40,
},

new DataItem

{

Quarter = "Q2",

Revenue = 45

},

new DataItem

{

Quarter = "Q3",

Revenue = 22

},

new DataItem

{

Quarter = "Q4",

Revenue = 18

},

new DataItem

{

Quarter = "Q5",

Revenue = 25

},
new DataItem

{

Quarter = "Q6",

Revenue = 25

},

};

}