@page "/firmgrid"
@inject FirmList firmlist

<PageTitle>Firm List</PageTitle>

<div class="row">
    <div class="col-12 col-lg-6">
        <p class="title">Firm List</p>
    </div>
    <div class="col-12 col-lg-6 rz-text-align-end rz-py-3">
        <a href="create_firm">
            <RadzenButton Variant="Variant.Flat" class="create-btn">
                <i class="fa-solid fa-user-plus"></i> Create Firm
            </RadzenButton>
        </a>
    </div>
</div>

<!-- GRID -->

@if (firm == null)
{
    <p>Loading........</p>
}
else
{
    <RadzenDataGrid AllowPaging="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        PageSize="10" AllowSorting="true" Data="@firm" TItem="Firm" ColumnWidth="150px" class="table-body">

        <Columns>

            <RadzenDataGridColumn TItem="Firm" Property="FirmName" Title="Firm Name">
                <Template Context="data">
                    <a href="update_firm" class="border-0 text-muted text-decoration-none">@data.FirmName</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Firm" Property="Status" Title="Status">
                <Template Context="data">
                    <div class="@(data.Status == "Active" ? "dot-active" : "dot-inactive")"></div>
                    @data.Status
                </Template>
            </RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>
}
@code {
    List<Firm> firm = new();

    protected override async Task OnInitializedAsync()
    {
        firm = await Task.Run(() => firmlist.FirmTable());
    }
}