@page "/servicepgrid"
@inject ServiceList servicelist

<PageTitle>Service Provide List</PageTitle>

<div class="row">
    <div class="col-12 col-lg-6">
        <p class="title">Service Provide List</p>
    </div>
    <div class="col-12 col-lg-6 rz-text-align-end rz-py-3">
        <a href="create_sp">
            <RadzenButton Variant="Variant.Flat" class="create-btn">
                <i class="fa-solid fa-user-plus"></i> Create Service Provider
            </RadzenButton>
        </a>
    </div>
</div>

<!-- GRID -->

@if (servicep == null)
{
    <p>Loading........</p>
}
else
{
    <RadzenDataGrid AllowPaging="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        PageSize="10" AllowSorting="true" Data="@servicep" TItem="ServiceP" ColumnWidth="150px" class="table-body">

        <Columns>

            <RadzenDataGridColumn TItem="ServiceP" Property="ServiceProvider" Title="Service Provider">
                <Template Context="data">
                    <a href="update_sp" class="border-0 text-muted text-decoration-none">@data.ServiceProvider</a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ServiceP" Property="Status" Title="Status">
                <Template Context="data">
                    <div class="@(data.Status == "Active" ? "dot-active" : "dot-inactive")"></div>
                    @data.Status
                </Template>
            </RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>
}
@code {
    List<ServiceP> servicep = new();
    protected override async Task OnInitializedAsync()
    {
        servicep = await Task.Run(() => servicelist.ServiceTable());
    }
}