@page "/history"

<PageTitle>History</PageTitle>

<p class="title">Incident History</p>

<div class="vl"></div>

<br />

@* Card No 1 *@
<RadzenCard Class="history-card">
    <RadzenRow>
        <RadzenColumn Size="1" class="w-50 d-flex">
            <img src="_content/SharedUI/img/assests/history_icon.svg" style="width: 57px;">
        </RadzenColumn>


        <RadzenColumn Size="3">
            <h6 class="text-primary">
                <strong>
                    INC001
                </strong>
            </h6>
            <br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Safety Type &nbsp;</p>
                <p>Unsafe Condition</p>
            </div>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Actual Severity &nbsp;</p>
                <p>First Aid Case</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="2">
            <br><br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Walk Type &nbsp;</p>
                <p>General</p>
            </div>
            <div class="d-flex w-100">
                <p class="text-secondary">Status &nbsp;</p>
                <p>Open</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <br><br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Department &nbsp;</p>
                <p>OSY-10</p>
            </div>
            <div class="d-flex w-100">
                <p class="text-secondary">Department Responsible &nbsp;</p>
                <p>OSY-10</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <h6 class="text-success text-end">
                <strong>
                    Recent Updated Incident Record
                </strong>
            </h6>
            <br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Assigned To Email &nbsp;</p>
                <p>email@gmail.com</p>
            </div>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Assigned To Name &nbsp;</p>
                <p>user</p>
            </div>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<p class="text-primary">
    <strong>
        Latest &nbsp; 09-12-2022 &nbsp; 01:00:00
    </strong>
</p>

<div class="vl d-flex justify-content-center"></div>
<br />

@* Card no 2 *@
<RadzenCard Class="history-card">
    <RadzenRow>
        <RadzenColumn Size="1" class="w-50 d-flex">
            <img src="_content/SharedUI/img/assests/history_icon.svg" style="width: 57px;">
        </RadzenColumn>


        <RadzenColumn Size="3">
            <h6 class="text-primary">
                <strong>
                    INC001
                </strong>
            </h6>
            <br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Safety Type &nbsp;</p>
                <p>Unsafe Condition</p>
            </div>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Actual Severity &nbsp;</p>
                <p>First Aid Case</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="2">
            <br><br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Walk Type &nbsp;</p>
                <p>General</p>
            </div>
            <div class="d-flex w-100">
                <p class="text-secondary">Status &nbsp;</p>
                <p>Open</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <br><br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Department &nbsp;</p>
                <p>OSY-10</p>
            </div>
            <div class="d-flex w-100">
                <p class="text-secondary">Department Responsible &nbsp;</p>
                <p>OSY-10</p>
            </div>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <h6 class="text-danger text-end">
                <strong>
                    Original Incident Record
                </strong>
            </h6>
            <br>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Assigned To Email &nbsp;</p>
                <p>email@gmail.com</p>
            </div>
            <div class="d-flex w-100 small">
                <p class="text-secondary">Assigned To Name &nbsp;</p>
                <p>user</p>
            </div>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<p class="text-primary">
    <strong>
        Last Updated: &nbsp; 09-12-2022 &nbsp; 01:00:00
    </strong>
</p>

<div class="vl d-flex justify-content-cente"></div>
<br />


<a href="incidentsafetyreportingdetails">
    <RadzenButton class="rz-border-radius-10 rz-shadow-10 rz-pt-3 --color-primary">
        <i class="fa-solid fa-arrow-left"></i>
    </RadzenButton>
</a>