@page "/incidentsafetyreportingdetails-edit"

<PageTitle>Safety Reporting</PageTitle>

@* Section Heading *@
<RadzenRow Gap="15px" RowGap="10px">
    <RadzenColumn Size="8">
        <h6 class="title">Safety Reporting</h6>
    </RadzenColumn>
    <RadzenColumn Size="4" class="rz-text-align-end rz-py-3">

        <RadzenButton Variant="Variant.Outlined" class="filter-btn w-25 border border-primary rounded-pill">
            <i class="fa-solid fa-clock-rotate-left"></i>History
        </RadzenButton>

        <RadzenButton Variant="Variant.Flat" class="create-btn btn btn-secondary">
            <i class="fa-solid fa-pen-to-square"></i> Re-assign
        </RadzenButton>

        <RadzenButton Variant="Variant.Flat" Icon="add_circle_outline" class="create-btn">
            <i class="fa-solid fa-pen-to-square"></i> Edit
        </RadzenButton>

    </RadzenColumn>
</RadzenRow>

<RadzenCard Class="safe-report-card rz-p-8">
    <RadzenRow class="rz-py-5">
        <RadzenColumn Size="3">
            <h6 class="text-secondary">Incident Number</h6>
            <h4 class="text-dark">INC001</h4>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <h6 class="text-secondary">Date</h6>
            <h4 class="text-dark">02-12-2022</h4>
        </RadzenColumn>

        <RadzenColumn Size="3">
            <h6 class="text-secondary">Status</h6>
            <h4 class="text-dark">In Progress</h4>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-5">
        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Safety Type</h6>
            <h4 class="text-dark">Unsafe Condition</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Walk Type</h6>
            <h4 class="text-dark">General Round</h4>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="8" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Description</h6>
            <h4 class="text-dark">At west basin view point railing damaged need to be repaired</h4>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-5">
        <RadzenColumn Size="3" class="edit-modeI rz-p-3">
            <h6 class="text-secondary">Department</h6>
            <h4 class="text-dark">OSY-10</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-modeI rz-p-3">
            <h6 class="text-secondary">Assigned to Name</h6>
            <h4 class="text-dark">User</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-modeI rz-p-3">
            <h6 class="text-secondary">Assigned to Email</h6>
            <h4 class="text-dark">mail@gmail.com</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-modeI rz-p-3">
            <h6 class="text-secondary">Reported By</h6>
            <h4 class="text-dark">5_LEVEL</h4>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-5">
        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Department Responsible</h6>
            <h4 class="text-dark">OSY-10</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Assigned To</h6>
            <h4 class="text-dark">JINDAL</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Shift</h6>
            <h4 class="text-dark">First</h4>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Comments</h6>
            <h4 class="text-dark"></h4>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-5">
        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Person Involved</h6>
            <br>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Core Activity</h6>
        </RadzenColumn>

        <RadzenColumn Size="3" class="edit-mode rz-p-3">
            <h6 class="text-secondary">Comments</h6>
        </RadzenColumn>

        <RadzenColumn>

        </RadzenColumn>
    </RadzenRow>

    <div class="rz-text-align-end rz-p-3">
        <RadzenButton Variant="Variant.Outlined" Text="Cancel" class="filter-btn border border-primary rounded-pill " />
        <RadzenButton Variant="Variant.Flat" Text="Save" class="create-btn">
        </RadzenButton>
    </div>
</RadzenCard>

<RadzenRow class="rz-mt-10">
    <RadzenColumn>
        <RadzenCard Class="shadow rounded">
            <h4 class="card-txt">Incident Images</h4>
            <img src="_content/SharedUI/img/assests/img1.svg" class="rz-my-10" />
            <img src="_content/SharedUI/img/assests/img2.svg" class="rz-py-10" />
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn>
        <RadzenCard Class="shadow rounded rz-p-8">
            <h4 class="card-txt rz-mb-12">Description Voice Note</h4>
            <br />
            <audio controls autoplay muted>
                <source src="horse.ogg" type="audio/ogg">
                <source src="horse.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <h4 class="text-secondary rz-mt-12">At west basin view point railing damaged need to be repaired</h4>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenCard Class="shadow rounded rz-mt-10">
    <div class="gmap_canvas" style="overflow: hidden; height: fit-content;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3777452.9390264275!2d68.68527999421731!3d22.394415122444837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959051f5f0ef795%3A0x861bd887ed54522e!2sGujarat!5e0!3m2!1sen!2sin!4v1707301373809!5m2!1sen!2sin"
            width="1205" height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</RadzenCard>