@page "/login"

<PageTitle>Safety Reporting</PageTitle>


<div class="container d-flex align-items-center justify-content-center">
    <BSCard CardType="CardType.Card" class="d-flex align-items-center justify-content-center">
        <BSCard CardType="CardType.Image" src="_content/SharedUI/img/assests/Login-card-img.png" class=""
            alt="Card image cap" />
        <img src="_content/SharedUI/img/assests/adani_logo_color.svg" class="w-25">
        <h4 class="srp-text text-dark text-center fw-bold">Safety Reporting Portal </h4>

        <p class="text-secondary text-center w-75">
            Simplify Reporting of Unsafe Act, Unsafe Condition,Safe observation, Near Miss & Incidents.
        </p>

        <RadzenFormField Text="Enter Mobile Number"
            class="text-secondary d-flex align-items-center justify-content-center rounded">
            <RadzenTextBox />
        </RadzenFormField>

        <br />

        <RadzenButton Variant="Variant.Flat" Text="GET OTP"
            class="submit-btn w-50 bg-white d-flex align-items-center justify-content-center rounded-pill" />

        <p class="text-secondary text-center w-50">
            We will send you a one-time password, to this mobile number
        </p>

        <div class="w-100 d-flex align-items-center justify-content-center">
            <p class="text-secondary">
                V.4.4.7 &nbsp; | &nbsp; Powered by &nbsp;
            </p>
            <p class="text-primary">
                Empezar Group
            </p>
        </div>
    </BSCard>
</div>