@page "/myincidentgrid"
@inject MyIncidentList milist
<PageTitle>My Incident</PageTitle>

<!-- All Safety Reports Grid -->
<RadzenRow Gap="15px" RowGap="15px" class="d-flex align-items-center mb-4 ">
    <RadzenColumn Size="3" class="d-flex align-items-center">
        <div class="title">My Incident</div>
        
    </RadzenColumn>
    <RadzenColumn Size="9" class="rz-text-align-end">
        <span class="safetyreport-butn d-flex align-items-center justify-content-end">
            <RadzenIcon Icon="search" class="icon text-blue me-5" />
            <RadzenCheckBoxList Value=@report TValue="int" Change=@(args => report = args) class="">
                <Items>
                    <RadzenCheckBoxListItem class="button-shadow " Text="Reported By Me" Value="1" />
                    <RadzenCheckBoxListItem class="button-shadow mx-3" Text="Assigned to Me" Value="2" />
                </Items>
            </RadzenCheckBoxList>


            <RadzenButton Icon="hourglass_empty" Text="Filter"
                class="filter-btn ms-1 bg-light button-shadow rounded-pill text-dark" />
            <RadzenButton Variant="Variant.Flat" Icon="description" Text="Incident Report"
                class="create-btn mx-3 rounded-pill" />
            <RadzenButton Variant="Variant.Flat" Icon="assignment_ind" Text="User Report"
                class="create-btn rounded-pill" />
        </span>
    </RadzenColumn>
</RadzenRow>

<!-- GRID -->

@if (myincident == null)
{
    <p>Loading........</p>
}
else
{
    <RadzenDataGrid AllowPaging="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
        PageSize="15" AllowSorting="true" Data="@myincident" TItem="MyIncident" ColumnWidth="150px" class="table-body">

        <Columns>

            <RadzenDataGridColumn TItem="MyIncident" Property="InId" Title="Incident Id"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="ReportedBy" Title="Reported By"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="SafetyType" Title="Safety Type"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="Deptmt" Title="Department"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="Date" Title="Date">
                <Template Context="data">
                    @string.Format("{0:d}", data.Date)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="Description" Title="Description"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="MyIncident" Property="Status" Title="Status"></RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>
}
@code {
    List<MyIncident> myincident = new();

    protected override async Task OnInitializedAsync()
    {
        myincident = await Task.Run(() => milist.MyIncidentTable());
    }

    /* Reported check box*/
    IEnumerable<int> report = new int[] { 1 };

}