@page "/noreportfoundscreen"

<PageTitle>No Reports Found Screen</PageTitle>

<p class="title pt-3">All Safety Reports</p>


<RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">
    <center>
        <RadzenImage Path="_content/SharedUI/img/assests/document-file-not-found.png" AlternateText="Create New Acc" />
        <br>
        <p class="msg mb-0">No Safety Reports Found</p>
    </center>
</RadzenStack>
