@page "/safetyreportingdetails"

<PageTitle>Safety Reporting</PageTitle>

@* Section Heading *@
<RadzenRow Gap="15px" RowGap="10px">
    <RadzenColumn Size="8">
        <div class="d-flex justify-content-start">
            <a href="safetyreportgrid">
                <RadzenButton class="rz-border-radius-10 rz-shadow-10 rz-pt-3 --color-primary">
                   <i class="fa-solid fa-arrow-left"></i>
                </RadzenButton>
            </a>
        <p class="title ps-3">Safety Reporting</p>
        </div>
    </RadzenColumn>

    <RadzenColumn Size="4" class="rz-text-align-end rz-py-3">
        <a href="history">
            <RadzenButton Variant="Variant.Outlined"
                class="text-primary bg-light w-25 border border-primary shadow rounded-pill rz-m-2">
                <i class="fa-solid fa-clock-rotate-left"></i>History
            </RadzenButton>
        </a>

        <a href="safetyreportingdetails-reassign">
            <RadzenButton Variant="Variant.Flat" class="create-btn">
                <i class="fa-solid fa-pen-to-square"></i> Re-assign
            </RadzenButton>
        </a>

        <a href="safetyreportingdetails-edit">
            <RadzenButton Variant="Variant.Flat" Icon="add_circle_outline" class="create-btn">
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </RadzenButton>
        </a>
    </RadzenColumn>
</RadzenRow>

<RadzenCard Class="safe-report-card rz-p-8">
    <RadzenRow class="rz-py-2">
        <RadzenColumn Size="4">
            <h6 class="text-secondary">Incident Id</h6>
            <h6 class="text-dark fw-bold">5892</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Date</h6>
            <h6 class="text-dark fw-bold">07-Feb-2024 16:14</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Status</h6>
            <h6 class="text-dark fw-bold">In Progress</h6>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-2">
        <RadzenColumn Size="4">
            <h6 class="text-secondary">Safety Type</h6>
            <h6 class="text-dark fw-bold">Unsafe Act</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Actual Severity</h6>
            <h6 class="text-dark fw-bold">First Aid Case (1 Minor)</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Potential Severity</h6>
            <h6 class="text-dark fw-bold">Medical Treatment Only (2 Moderate)</h6>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-py-2">
        <RadzenColumn Size="4">
            <h6 class="text-secondary">Group</h6>
            <h6 class="text-dark fw-bold">Fall of Object</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Walk Type</h6>
            <h6 class="text-dark fw-bold">General Round</h6>
        </RadzenColumn>

        <RadzenColumn Size="4">
            <h6 class="text-secondary">Department</h6>
            <h6 class="text-dark fw-bold">Dry Cargo</h6>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="4" class="rz-py-2">
            <h6 class="text-secondary">Description</h6>
            <h6 class="text-dark fw-bold">Test Uat</h6>
        </RadzenColumn>

        <RadzenColumn Size="4" class="rz-py-2">
            <h6 class="text-secondary">Assigned To</h6>
            <h6 class="text-dark fw-bold">Devgan Permar</h6>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

<RadzenRow class="rz-mt-10">
    <RadzenColumn>
        <RadzenCard Class="shadow rounded">
            <h6 class="card-txt rz-pb-10">Incident Images(2)</h6>
            <img src="_content/SharedUI/img/assests/img1.svg" />
            <img src="_content/SharedUI/img/assests/img2.svg" />
        </RadzenCard>
    </RadzenColumn>

    <RadzenColumn>
        <RadzenCard Class="shadow rounded rz-p-8">
            <h6 class="card-txt rz-mb-12">Description Voice Note</h6>
            <br />
            <audio controls autoh6lay muted>
                <source src="horse.ogg" tyh6e="audio/ogg">
                <source src="horse.mh63" tyh6e="audio/mh6eg">
                Your browser does not support the audio element.
            </audio>
            <h6 class="text-secondary rz-mt-12">At west basin view point railing damaged need to be reh6aired</h6>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

<RadzenCard Class="shadow round rz-mt-10 p-0">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe src="https://www.google.com/maps/d/embed?mid=118EIOrWpUInGDhhy3AQfidWBKA5T8Z4&ehbc=2E312F" frameborder="0" class="map_canvas"></iframe>
        </div>
    </div>
</RadzenCard>