/* @font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --text-color-blue: #00A3FF;
    --color-primary: #00A3FF;
    --button-color-primary: #00A3FF;
    --pccrd1: #02CCCC;
    --pccrd2: #289800;
    --pccrd3: #20AEFD;
}


html,
body {
    font-family: var(--font-family);
    font-size: 0.9em;

}

.h-100 {
    height: 100%;
}

.sidebar {
    background-image: linear-gradient(180deg, #674D9F -4.2%, #0D73B0 10.45%, #674D9F 99.99%);
    overflow-y: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;

}

.container {
    background-image: url("_content/SharedUI/img/assests/Login-otp.png") !important;
    border-radius: 20px;
}

.otp-field input {
    width: 50px;
    font-size: 32px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    color: #252525;
    transition: all 0.1s;

    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}

.otp-field input:focus {
    border: none;
}

.vl {
    height: 50px;

    background: linear-gradient(to right,
            transparent 0%,
            transparent calc(50% - 0.81px),
            black calc(50% - 0.8px),
            black calc(50% + 0.8px),
            transparent calc(50% + 0.81px),
            transparent 100%);
}

.history-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.menu-icon {
    height: 15px;
}

.nav-item {
    margin-bottom: 10px;

    .nav-link {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
    }

    img {
        margin-right: 10px;
    }
}


.text-blue {
    color: var(--text-color-blue);
}

.title {
    color: var(--text-color-blue);
    font-size: 20px;
    font-weight: 600;
}

.msg {
    color: var(--text-color-blue);
    font-size: 28px;
    font-weight: 400;
}

/*Portal Text*/
.portal-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

/* Nav bar - Card */
.nav-card {
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.27);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* width: 102px;
    height: 130px; */
}

.nav-card-text {
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}


/* Table List */
.table-head {
    color: #252525;
    font-size: 16px;
    font-weight: 400;

    background: rgba(0, 163, 255, 0.08);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20);
}



/* Create Button */
.create-btn {
    border-radius: 50px !important;
    background-color: var(--text-color-blue) !important;
}

/* Active status */
.dot-active {
    height: 10px;
    width: 10px;
    background-color: #156700;
    border-radius: 50%;
    display: inline-block;
}

/* Inactive status */
.dot-inactive {
    height: 10px;
    width: 10px;
    background-color: #FA8700;

    border-radius: 50%;
    display: inline-block;
}

/* Table body format */
.table-body {
    background: rgba(0, 163, 255, 0.08);
    font-size: 16px;
    font-weight: 400;
}



/* Create User */
.create-card {
    box-shadow: 1px 1px 22px 0px rgba(0, 0, 0, 0.25);
}

/*form label styling*/
.label-style {
    color: #848484;
    font-size: 18px;
    font-weight: 400;
}


/* Create User  - Clear Button */
.clear-btn {
    /* button property */
    border: 1px solid var(--text-color-blue) !important;

    /* button text property */
    color: #474747 !important;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

/* Create User  - Submit Button */
.submit-btn {
    /* button property */
    border: 1px;
    background-color: var(--text-color-blue) !important;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);


    /* button text property */
    color: #FDFDFF !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}


.button-shadow {
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 7px 15px;
}

.filter-btn {
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25) !important;
    background-color: white !important;
}

.filter-icon {
    color: var(--text-color-blue);
}

thead {
    background: rgba(0, 163, 255, 0.1) !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

    th {
        background: rgba(0, 163, 255, 0.1) !important;
    }
}

.input-group-search {
    box-shadow: 1px 1px 13px 0 rgba(0, 0, 0, .25);
    max-width: 324px;
    border-radius: 50px;
    overflow: hidden;

    input {
        padding-left: 20px;
    }
}

.btn-txt {
    font-weight: 500;
    font-size: 16px;
    color: #FDFDFF;
}

.safe-report-card {
    background: rgba(0, 163, 255, 0.1) !important;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: auto;
    /* border: 1px solid #8b8b8b; */
}

.srp-text {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #674D9F, #0D73B0);
    border-image-slice: 1;
}

.card-txt {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #3C3C3C;
}


.edit-mode {
    background: #FFFFFF;
    border-radius: 17px;
}

.edit-modeI {
    background: #E6E6E6;
    border-radius: 17px;
}

/*radio filter - dashbrd*/
.marked:active {
    accent-color: var(--text-color-blue) !important;
    color: var(--text-color-blue) !important;
    font-weight: 600;
}

/*Donut Pie Chart color*/
.piechart-card1 {
    color: var(--pccrd1) !important;
}

.piechart-card2 {
    color: var(--pccrd2) !important;
}

.piechart-card3 {
    color: var(--pccrd3) !important;
}